<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-peso-cliente-heading"
        data-cy="PesoClienteCreateUpdateHeading"
        jhiTranslate="fitnessAngiottiApp.pesoCliente.home.createOrEditLabel"
      >
        Genera o modifica un Peso Cliente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="fitnessAngiottiApp.pesoCliente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let pesoRef = editForm.get('peso')!;
        <div class="mb-3">
          <label class="form-label" for="field_peso" jhiTranslate="fitnessAngiottiApp.pesoCliente.peso">Peso</label>
          <input type="number" class="form-control" name="peso" id="field_peso" data-cy="peso" formControlName="peso" />
          @if (pesoRef.invalid && (pesoRef.dirty || pesoRef.touched)) {
            <div>
              @if (editForm.get('peso')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
              @if (editForm.get('peso')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Questo campo dovrebbe essere più di 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('peso')?.errors?.number" jhiTranslate="entity.validation.number"
                >Questo campo dovrebbe essere un numero.</small
              >
            </div>
          }
        </div>

        @let meseRef = editForm.get('mese')!;
        <div class="mb-3">
          <label class="form-label" for="field_mese" jhiTranslate="fitnessAngiottiApp.pesoCliente.mese">Mese</label>
          <input type="number" class="form-control" name="mese" id="field_mese" data-cy="mese" formControlName="mese" />
          @if (meseRef.invalid && (meseRef.dirty || meseRef.touched)) {
            <div>
              @if (editForm.get('mese')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
              @if (editForm.get('mese')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Questo campo dovrebbe essere più di 1.</small
                >
              }
              @if (editForm.get('mese')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '12' }"
                  >Questo campo non può essere superiore a 12.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('mese')?.errors?.number" jhiTranslate="entity.validation.number"
                >Questo campo dovrebbe essere un numero.</small
              >
            </div>
          }
        </div>

        @let dataInserimentoRef = editForm.get('dataInserimento')!;
        <div class="mb-3">
          <label class="form-label" for="field_dataInserimento" jhiTranslate="fitnessAngiottiApp.pesoCliente.dataInserimento"
            >Data Inserimento</label
          >
          <div class="input-group">
            <input
              id="field_dataInserimento"
              data-cy="dataInserimento"
              type="text"
              class="form-control"
              name="dataInserimento"
              ngbDatepicker
              #dataInserimentoDp="ngbDatepicker"
              formControlName="dataInserimento"
            />
            <button type="button" class="btn btn-secondary" (click)="dataInserimentoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (dataInserimentoRef.invalid && (dataInserimentoRef.dirty || dataInserimentoRef.touched)) {
            <div>
              @if (editForm.get('dataInserimento')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cliente" jhiTranslate="fitnessAngiottiApp.pesoCliente.cliente">Cliente</label>
          <select
            class="form-control"
            id="field_cliente"
            data-cy="cliente"
            name="cliente"
            formControlName="cliente"
            [compareWith]="compareCliente"
          >
            @if (!editForm.get('cliente')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (clienteOption of clientesSharedCollection; track $index) {
              <option [ngValue]="clienteOption">{{ clienteOption.email }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['cliente'])!.invalid && (editForm.get(['cliente'])!.dirty || editForm.get(['cliente'])!.touched)) {
          <div>
            @if (editForm.get(['cliente'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
