<div>
  <h2 id="page-heading" data-cy="PassaggioEsercizioHeading">
    <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.home.title">PassaggioEsercizios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-passaggio-esercizio"
        [routerLink]="['/passaggio-esercizio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.home.createLabel">Genera un nuovo Passaggio Esercizio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (passaggioEsercizios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.home.notFound">No Passaggio Esercizios found</span>
    </div>
  }

  @if (passaggioEsercizios && passaggioEsercizios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="indice">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.indice">Indice</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descrizione">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.descrizione">Descrizione</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="esercizio.nome">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.passaggioEsercizio.esercizio">Esercizio</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (passaggioEsercizio of passaggioEsercizios; track trackId(passaggioEsercizio)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/passaggio-esercizio', passaggioEsercizio.id, 'view']">{{ passaggioEsercizio.id }}</a>
              </td>
              <td>{{ passaggioEsercizio.indice }}</td>
              <td>{{ passaggioEsercizio.descrizione }}</td>
              <td>
                @if (passaggioEsercizio.esercizio) {
                  <div>
                    <a [routerLink]="['/esercizio', passaggioEsercizio.esercizio.id, 'view']">{{ passaggioEsercizio.esercizio.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/passaggio-esercizio', passaggioEsercizio.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a
                    [routerLink]="['/passaggio-esercizio', passaggioEsercizio.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(passaggioEsercizio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (passaggioEsercizios && passaggioEsercizios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
