<div>
  <h2 id="page-heading" data-cy="PesoClienteHeading">
    <span jhiTranslate="fitnessAngiottiApp.pesoCliente.home.title">PesoClientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.pesoCliente.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-peso-cliente"
        [routerLink]="['/peso-cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.pesoCliente.home.createLabel">Genera un nuovo Peso Cliente</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (pesoClientes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fitnessAngiottiApp.pesoCliente.home.notFound">No Peso Clientes found</span>
    </div>
  }

  @if (pesoClientes && pesoClientes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="peso">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.pesoCliente.peso">Peso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mese">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.pesoCliente.mese">Mese</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataInserimento">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.pesoCliente.dataInserimento">Data Inserimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cliente.email">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.pesoCliente.cliente">Cliente</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pesoCliente of pesoClientes; track trackId(pesoCliente)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/peso-cliente', pesoCliente.id, 'view']">{{ pesoCliente.id }}</a>
              </td>
              <td>{{ pesoCliente.peso }}</td>
              <td>{{ pesoCliente.mese }}</td>
              <td>{{ pesoCliente.dataInserimento | formatMediumDate }}</td>
              <td>
                @if (pesoCliente.cliente) {
                  <div>
                    <a [routerLink]="['/cliente', pesoCliente.cliente.id, 'view']">{{ pesoCliente.cliente.email }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/peso-cliente', pesoCliente.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/peso-cliente', pesoCliente.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(pesoCliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (pesoClientes && pesoClientes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
