<div>
  <h2 id="page-heading" data-cy="EsercizioHeading">
    <span jhiTranslate="fitnessAngiottiApp.esercizio.home.title">Esercizios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.esercizio.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-esercizio"
        [routerLink]="['/esercizio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.esercizio.home.createLabel">Genera un nuovo Esercizio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (esercizios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fitnessAngiottiApp.esercizio.home.notFound">No Esercizios found</span>
    </div>
  }

  @if (esercizios && esercizios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.esercizio.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.esercizio.tipo">Tipo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="videoUrl">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.esercizio.videoUrl">Video Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descrizione">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.esercizio.descrizione">Descrizione</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="foto">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.esercizio.foto">Foto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (esercizio of esercizios; track trackId(esercizio)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/esercizio', esercizio.id, 'view']">{{ esercizio.id }}</a>
              </td>
              <td>{{ esercizio.nome }}</td>
              <td [jhiTranslate]="'fitnessAngiottiApp.TipoEsercizio.' + (esercizio.tipo ?? 'null')">
                {{
                  {
                    null: '',
                    FULLBODY: 'FULLBODY',
                    UPPERBODY: 'UPPERBODY',
                    LOWERBODY: 'LOWERBODY',
                    CORE: 'CORE',
                    CARDIO: 'CARDIO',
                    POSTURALE: 'POSTURALE',
                    KOMBAT: 'KOMBAT',
                  }[esercizio.tipo ?? 'null']
                }}
              </td>
              <td>{{ esercizio.videoUrl }}</td>
              <td>{{ esercizio.descrizione }}</td>
              <td>
                @if (esercizio.foto) {
                  <a (click)="openFile(esercizio.foto, esercizio.fotoContentType)">
                    <img
                      [src]="'data:' + esercizio.fotoContentType + ';base64,' + esercizio.foto"
                      style="max-height: 30px"
                      alt="esercizio"
                    />
                  </a>
                  <span>{{ esercizio.fotoContentType }}, {{ byteSize(esercizio.foto) }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/gym']"
                    [queryParams]="{ 'filter[esercizioId.in]': esercizio.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('fitnessAngiottiApp.esercizio.gym' | translate) }"
                      >Show Gym</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/circuito-to-esercizio']"
                    [queryParams]="{ 'filter[esercizioId.in]': esercizio.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('fitnessAngiottiApp.esercizio.circuitoToEsercizio' | translate) }"
                      >Show Circuito To Esercizio</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/passaggio-esercizio']"
                    [queryParams]="{ 'filter[esercizioId.in]': esercizio.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('fitnessAngiottiApp.esercizio.passaggioEsercizio' | translate) }"
                      >Show Passaggio Esercizio</span
                    >
                  </button>
                  <a [routerLink]="['/esercizio', esercizio.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/esercizio', esercizio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(esercizio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (esercizios && esercizios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
