@if (allenamentoGiornaliero) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(allenamentoGiornaliero.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="allenamentoGiornalieroDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Conferma operazione di cancellazione
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-allenamentoGiornaliero-heading"
        jhiTranslate="fitnessAngiottiApp.allenamentoGiornaliero.delete.question"
        [translateValues]="{ id: allenamentoGiornaliero.id }"
      >
        Sei sicuro di volere eliminare Allenamento Giornaliero {{ allenamentoGiornaliero.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
      </button>

      <button id="jhi-confirm-delete-allenamentoGiornaliero" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Elimina</span>
      </button>
    </div>
  </form>
}
