<div>
  <h2 id="page-heading" data-cy="PlicometriaHeading">
    <span jhiTranslate="fitnessAngiottiApp.plicometria.home.title">Plicometrias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.plicometria.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plicometria"
        [routerLink]="['/plicometria/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fitnessAngiottiApp.plicometria.home.createLabel">Genera un nuovo Plicometria</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (plicometrias?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fitnessAngiottiApp.plicometria.home.notFound">No Plicometrias found</span>
    </div>
  }

  @if (plicometrias && plicometrias.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tricipite">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.tricipite">Tricipite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="petto">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.petto">Petto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ascella">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.ascella">Ascella</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sottoscapolare">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.sottoscapolare">Sottoscapolare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soprailliaca">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.soprailliaca">Soprailliaca</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addome">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.addome">Addome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coscia">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.coscia">Coscia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mese">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.mese">Mese</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataInserimento">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.dataInserimento">Data Inserimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cliente.email">
              <div class="d-flex">
                <span jhiTranslate="fitnessAngiottiApp.plicometria.cliente">Cliente</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (plicometria of plicometrias; track trackId(plicometria)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/plicometria', plicometria.id, 'view']">{{ plicometria.id }}</a>
              </td>
              <td>{{ plicometria.tricipite }}</td>
              <td>{{ plicometria.petto }}</td>
              <td>{{ plicometria.ascella }}</td>
              <td>{{ plicometria.sottoscapolare }}</td>
              <td>{{ plicometria.soprailliaca }}</td>
              <td>{{ plicometria.addome }}</td>
              <td>{{ plicometria.coscia }}</td>
              <td>{{ plicometria.mese }}</td>
              <td>{{ plicometria.dataInserimento | formatMediumDate }}</td>
              <td>
                @if (plicometria.cliente) {
                  <div>
                    <a [routerLink]="['/cliente', plicometria.cliente.id, 'view']">{{ plicometria.cliente.email }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/plicometria', plicometria.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/plicometria', plicometria.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(plicometria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (plicometrias && plicometrias.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
