<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-corso-academy-heading"
        data-cy="CorsoAcademyCreateUpdateHeading"
        jhiTranslate="fitnessAngiottiApp.corsoAcademy.home.createOrEditLabel"
      >
        Genera o modifica un Corso Academy
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="fitnessAngiottiApp.corsoAcademy.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let livelloRef = editForm.get('livello')!;
        <div class="mb-3">
          <label class="form-label" for="field_livello" jhiTranslate="fitnessAngiottiApp.corsoAcademy.livello">Livello</label>
          <select class="form-control" name="livello" formControlName="livello" id="field_livello" data-cy="livello">
            <option [ngValue]="null">{{ 'fitnessAngiottiApp.LivelloCorso.null' | translate }}</option>
            @for (livelloCorso of livelloCorsoValues; track $index) {
              <option [value]="livelloCorso">{{ 'fitnessAngiottiApp.LivelloCorso.' + livelloCorso | translate }}</option>
            }
          </select>
          @if (livelloRef.invalid && (livelloRef.dirty || livelloRef.touched)) {
            <div>
              @if (editForm.get('livello')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
            </div>
          }
        </div>

        @let titoloRef = editForm.get('titolo')!;
        <div class="mb-3">
          <label class="form-label" for="field_titolo" jhiTranslate="fitnessAngiottiApp.corsoAcademy.titolo">Titolo</label>
          <input type="text" class="form-control" name="titolo" id="field_titolo" data-cy="titolo" formControlName="titolo" />
          @if (titoloRef.invalid && (titoloRef.dirty || titoloRef.touched)) {
            <div>
              @if (editForm.get('titolo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
