<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-circuito-to-esercizio-heading"
        data-cy="CircuitoToEsercizioCreateUpdateHeading"
        jhiTranslate="fitnessAngiottiApp.circuitoToEsercizio.home.createOrEditLabel"
      >
        Genera o modifica un Circuito To Esercizio
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="fitnessAngiottiApp.circuitoToEsercizio.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let repsRef = editForm.get('reps')!;
        <div class="mb-3">
          <label class="form-label" for="field_reps" jhiTranslate="fitnessAngiottiApp.circuitoToEsercizio.reps">Reps</label>
          <input type="number" class="form-control" name="reps" id="field_reps" data-cy="reps" formControlName="reps" />
          @if (repsRef.invalid && (repsRef.dirty || repsRef.touched)) {
            <div>
              @if (editForm.get('reps')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('reps')?.errors?.number" jhiTranslate="entity.validation.number"
                >Questo campo dovrebbe essere un numero.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_esercizio" jhiTranslate="fitnessAngiottiApp.circuitoToEsercizio.esercizio">Esercizio</label>
          <select
            class="form-control"
            id="field_esercizio"
            data-cy="esercizio"
            name="esercizio"
            formControlName="esercizio"
            [compareWith]="compareEsercizio"
          >
            @if (editForm.get(['esercizio'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (esercizioOption of eserciziosSharedCollection; track $index) {
              <option [ngValue]="esercizioOption">{{ esercizioOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['esercizio'])!.invalid && (editForm.get(['esercizio'])!.dirty || editForm.get(['esercizio'])!.touched)) {
          <div>
            @if (editForm.get(['esercizio'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_circuito" jhiTranslate="fitnessAngiottiApp.circuitoToEsercizio.circuito">Circuito</label>
          <select
            class="form-control"
            id="field_circuito"
            data-cy="circuito"
            name="circuito"
            formControlName="circuito"
            [compareWith]="compareCircuito"
          >
            @if (editForm.get(['circuito'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (circuitoOption of circuitosSharedCollection; track $index) {
              <option [ngValue]="circuitoOption">{{ circuitoOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['circuito'])!.invalid && (editForm.get(['circuito'])!.dirty || editForm.get(['circuito'])!.touched)) {
          <div>
            @if (editForm.get(['circuito'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
