<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (corsoAcademy(); as corsoAcademyRef) {
      <div>
        <h2 data-cy="corsoAcademyDetailsHeading"><span jhiTranslate="fitnessAngiottiApp.corsoAcademy.detail.title">Corso Academy</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ corsoAcademyRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="fitnessAngiottiApp.corsoAcademy.livello">Livello</span></dt>
          <dd>
            <span [jhiTranslate]="'fitnessAngiottiApp.LivelloCorso.' + (corsoAcademyRef.livello ?? 'null')">{{
              { null: '', PRINCIPIANTE: 'PRINCIPIANTE', INTERMEDIO: 'INTERMEDIO', AVANZATO: 'AVANZATO', ESPERTO: 'ESPERTO' }[
                corsoAcademyRef.livello ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="fitnessAngiottiApp.corsoAcademy.titolo">Titolo</span></dt>
          <dd>
            <span>{{ corsoAcademyRef.titolo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/corso-academy', corsoAcademyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
